:root {
  --dark-mode-text: #ffffff;
  --light-mode-text: #8d8d8d;
  --dark-mode-bg: #6c767c;
  --light-mode-bg: #ffffff;
}

.react-select-light__container:focus {
  outline: red !important;
}

.react-select-light__control {
  background-color: var(--light-mode-bg) !important;
}

.react-select-dark__control,
.react-select-dark__menu {
  background-color: var(--dark-mode-bg) !important;
}

.react-select-dark__placeholder,
.react-select-dark__input {
  color: var(--dark-mode-text) !important;
}

.react-select-dark__clear-indicator,
.react-select-dark__dropdown-indicator {
  color: #cccccc !important;
}

.react-select-dark__clear-indicator:hover,
.react-select-dark__dropdown-indicator:hover {
  color: #ffffff !important;
}

.react-select-dark__option {
  color: var(--dark-mode-text) !important;
  background-color: var(--dark-mode-bg) !important;
}

.react-select-light__option {
  background-color: var(--light-mode-bg) !important;
}

.react-select-dark__option:hover {
  background-color: #53575a !important;
}

.react-select-light__option:hover {
  background-color: #efeded !important;
}

.react-select-dark__multi-value {
  background-color: #ffffff !important;
}

